@import 'settings'

header
    height: 808px
    width: 100%
    background-image: url('/assets/img/sky.jpg')
    background-size: cover
    background-position: center center
    background-repeat: no-repeat

.main-nav
    a
        color: $white
        text-transform: uppercase
        font-size: 15px
        &:hover
            color: $white